<form (submit)="loginFunction()" action="/welcom">
    <div class="offset-4 mb-3 col-md-4">
      <label for="exampleInputEmail1" class="form-label">Adresse mail</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-Mail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="offset-4 mb-3 col-md-4">
      <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="offset-4 mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="offset-4 col-md-4 mb-3 d-grid gap-2 d-md-block">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </form>
